block vars
doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
        
        //- favicon stuff (thanks realfavicongenerator.net)
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#ffa6cc')
        meta(name='theme-color', content='#ffffff')

        //- meta description
        meta(name='description', content=meta_description?'Look At My Score! - ' + meta_description:'Look At My Score!')

        // exo 2 font
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Exo+2:300,300italic,200,400,400italic,500,500italic,600,600italic,700,700italic,900')

        // Bootstrap core CSS
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

        // sticky footer
        link(rel='stylesheet', href='/css/sticky-footer.css')

        // Custom CSS
        link(href='/css/style.css', rel='stylesheet')

        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='/js/jquery-2.1.1.min.js')

        // Bootsrap plugins
        script(src='/js/bootstrap.min.js')
    body
        div#wrap
            .container
                div.page-header.custom-page-header
                    h1
                        img(src='/images/logo50.png', style='margin-right: 10px;')
                        | #{title}
                    
                    button.custom-navbar-toggle(type='button', data-toggle='collapse', data-target='.custom-navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .no-height
                        .collapse.custom-navbar-collapse
                            ul.custom-nav
                                each text, itemUrl in {'/': 'Home', '/how-it-works':'How it works', '/about':'About', '/contact': 'Contact'}
                                    li(class=url==itemUrl?'active':undefined): a(href=itemUrl)= text
            .container
                block content

        div#footer
            div.container
                p.text-muted.text-center
                    | &copy; #{new Date().getFullYear()} &ndash; Olle Kelderman (#[a(href='https://osu.ppy.sh/u/2756335') oliebol]) &ndash; #[a(href='/contact') Contact]
                    br
                    small Logo by Demi (#[a(href='https://twitter.com/daeymieh') @Daeymieh] / #[a(href='https://www.twitch.tv/daeymieh') twitch.tv/daeymieh])
                    br
                    small: em This site is not operated by, sponsored by, or affiliated with osu! or ppy Pty Ltd.

        block js
