block vars
doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
        link(rel='icon', type='image/ico', href='/favicon.ico')

        //- meta description
        meta(name='description', content=meta_description?'Look At My Score! - ' + meta_description:'Look At My Score!')

        // exo 2 font
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Exo+2:300,300italic,200,400,400italic,500,500italic,600,600italic,700,700italic,900')

        // Bootstrap core CSS
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

        // sticky footer
        link(rel='stylesheet', href='/css/sticky-footer.css')

        // Custom CSS
        link(href='/css/style.css', rel='stylesheet')

        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='/js/jquery-2.1.1.min.js')

        // Bootsrap plugins
        script(src='/js/bootstrap.min.js')

        if gaCode
            // Google Analytics
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '#{gaCode}', 'auto');
                ga('send', 'pageview');
    body
        div#wrap
            .container
                div.page-header.custom-page-header
                    h1= title
                    
                    button.custom-navbar-toggle(type='button', data-toggle='collapse', data-target='.custom-navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .no-height
                        .collapse.custom-navbar-collapse
                            ul.custom-nav
                                each text, itemUrl in {'/': 'Home', '/how-it-works':'How it works', '/about':'About', '/contact': 'Contact'}
                                    li(class=url==itemUrl?'active':undefined): a(href=itemUrl)= text
            .container
                block content

        div#footer
            div.container
                p.text-muted.text-center
                    | &copy; #{new Date().getFullYear()} &ndash; Olle Kelderman (#[a(href='https://osu.ppy.sh/u/2756335') oliebol]) &ndash; #[a(href='/contact') Contact]
                    br
                    small: em This site is not operated by, sponsored by, or affiliated with osu! or ppy Pty Ltd.

        block js
